.vscode/**
.vscode-test/**
src/**
test/**
.gitignore
.eslintrc.json
.eslintrc.js
.prettierrc*
webpack.config.js
tsconfig.json
out/**
node_modules/**
**/*.map
**/*.ts
!dist/**
*.vsix
package-lock.json
