openapi: 3.0.0
info:
  title: DCP API
  description: |
    Decentralized Compute Platform (DCP) — GPU compute marketplace API.

    Providers register their GPUs and earn SAR. Renters submit compute jobs.

    **Base URL:** `https://api.dcp.sa`

    **Authentication:** Use one of three schemes:
    - Renters: `x-renter-key` header or `key` query param
    - Providers: `x-provider-key` header or `key` query param
    - Admin: `x-admin-token` header
  version: 1.0.0
  contact:
    name: DCP Support
    email: support@dcp.sa
    url: https://dcp.sa

servers:
  - url: https://api.dcp.sa
    description: Production API
  - url: http://localhost:8081
    description: Local development

tags:
  - name: Renters
    description: Renter account, balance, and marketplace
  - name: Jobs
    description: Submit, track, and manage compute jobs
  - name: Providers
    description: Provider registration, heartbeat, and earnings
  - name: Admin
    description: Administrative operations (auth required)

paths:
  /api/renters/register:
    post:
      tags:
        - Renters
      summary: Create a new renter account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
              properties:
                name:
                  type: string
                  example: John Doe
                email:
                  type: string
                  format: email
                  example: john@example.com
                organization:
                  type: string
                  example: Acme AI
      responses:
        '201':
          description: Account created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  renter_id:
                    type: integer
                    example: 7
                  api_key:
                    type: string
                    example: dcp-renter-a1b2c3d4e5f6...
                  message:
                    type: string
        '400':
          description: Missing or invalid fields
        '409':
          description: Email already registered

  /api/renters/me:
    get:
      tags:
        - Renters
      summary: Get renter profile and recent jobs
      security:
        - RenterKey: []
        - RenterKeyQuery: []
      responses:
        '200':
          description: Renter profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  renter:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      email:
                        type: string
                      organization:
                        type: string
                      balance_halala:
                        type: integer
                      balance_sar:
                        type: number
                      total_spent_halala:
                        type: integer
                      total_jobs:
                        type: integer
                      created_at:
                        type: string
                        format: date-time
                  recent_jobs:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobSummary'
        '401':
          description: Unauthorized

  /api/renters/balance:
    get:
      tags:
        - Renters
      summary: Get account balance
      security:
        - RenterKey: []
        - RenterKeyQuery: []
      responses:
        '200':
          description: Balance information
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance_halala:
                    type: integer
                    example: 5000
                  balance_sar:
                    type: number
                    example: 50.0
                  held_halala:
                    type: integer
                    description: Funds locked for running jobs
                    example: 75
                  held_sar:
                    type: number
                    example: 0.75
                  available_halala:
                    type: integer
                    description: Balance minus held funds
                    example: 4925
                  total_spent_halala:
                    type: integer
                    example: 1000
                  total_spent_sar:
                    type: number
                    example: 10.0
                  total_jobs:
                    type: integer
                    example: 5

  /api/renters/topup:
    post:
      tags:
        - Renters
      summary: Add balance to account
      security:
        - RenterKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  properties:
                    amount_halala:
                      type: integer
                      example: 5000
                - type: object
                  properties:
                    amount_sar:
                      type: number
                      example: 50
      responses:
        '200':
          description: Top-up successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  topped_up_halala:
                    type: integer
                  topped_up_sar:
                    type: number
                  new_balance_halala:
                    type: integer
                  new_balance_sar:
                    type: number
        '400':
          description: Invalid amount or exceeds limit
        '401':
          description: Unauthorized

  /api/renters/available-providers:
    get:
      tags:
        - Renters
      summary: List all online GPU providers
      responses:
        '200':
          description: List of available providers
          content:
            application/json:
              schema:
                type: object
                properties:
                  providers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Provider'
                  total:
                    type: integer

  /api/jobs/submit:
    post:
      tags:
        - Jobs
      summary: Submit a compute job
      security:
        - RenterKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobSubmission'
      responses:
        '201':
          description: Job submitted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  job_id:
                    type: string
                  status:
                    type: string
                  estimated_cost_sar:
                    type: number
                  estimated_cost_halala:
                    type: integer
                  submitted_at:
                    type: string
                    format: date-time
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '402':
          description: Insufficient balance
        '429':
          description: Rate limit exceeded

  /api/jobs/{jobId}/status:
    get:
      tags:
        - Jobs
      summary: Get job status
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      security:
        - RenterKey: []
        - RenterKeyQuery: []
      responses:
        '200':
          description: Job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '404':
          description: Job not found

  /api/jobs/{jobId}/output:
    get:
      tags:
        - Jobs
      summary: Get job output/results
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      security:
        - RenterKey: []
        - RenterKeyQuery: []
      responses:
        '200':
          description: Job output
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                  result:
                    description: Job-specific output (text, image bytes, etc.)
        '404':
          description: Job not found or not ready
        '202':
          description: Job still running

  /api/jobs/{jobId}/cancel:
    post:
      tags:
        - Jobs
      summary: Cancel a job
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      security:
        - RenterKey: []
      responses:
        '200':
          description: Job cancelled with refund
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  refund_sar:
                    type: number
                  refund_halala:
                    type: integer
        '404':
          description: Job not found
        '409':
          description: Cannot cancel job in current state

  /api/providers/register:
    post:
      tags:
        - Providers
      summary: Register a new provider
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - location
              properties:
                name:
                  type: string
                  example: My GPU Node
                location:
                  type: string
                  example: SA
                contact_email:
                  type: string
                  format: email
      responses:
        '201':
          description: Provider registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  provider_id:
                    type: integer
                  api_key:
                    type: string
                  message:
                    type: string
        '409':
          description: Provider already registered

  /api/providers/heartbeat:
    post:
      tags:
        - Providers
      summary: Send provider heartbeat
      security:
        - ProviderKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum: [online, offline, paused]
                gpu_utilization:
                  type: number
                  minimum: 0
                  maximum: 100
                temperature:
                  type: number
      responses:
        '200':
          description: Heartbeat accepted
        '401':
          description: Unauthorized
        '429':
          description: Rate limited (max 4/minute)

  /api/providers/{providerId}/queue:
    get:
      tags:
        - Providers
      summary: Get provider's job queue
      parameters:
        - name: providerId
          in: path
          required: true
          schema:
            type: integer
      security:
        - ProviderKey: []
      responses:
        '200':
          description: Job queue
          content:
            application/json:
              schema:
                type: object
                properties:
                  queued:
                    type: array
                    items:
                      $ref: '#/components/schemas/QueuedJob'
                  total:
                    type: integer

  /api/providers/earnings:
    get:
      tags:
        - Providers
      summary: Get provider earnings
      security:
        - ProviderKey: []
      responses:
        '200':
          description: Earnings summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_earnings_halala:
                    type: integer
                  total_earnings_sar:
                    type: number
                  today_earnings_halala:
                    type: integer
                  today_earnings_sar:
                    type: number
                  total_jobs_completed:
                    type: integer
                  total_runtime_hours:
                    type: number
                  next_payout_date:
                    type: string
                    format: date

components:
  schemas:
    Provider:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        gpu_model:
          type: string
        vram_gb:
          type: integer
        vram_mib:
          type: integer
        gpu_count:
          type: integer
        driver_version:
          type: string
        compute_capability:
          type: string
        cuda_version:
          type: string
        status:
          type: string
          enum: [online, offline, paused]
        is_live:
          type: boolean
          description: Daemon heartbeat within last 2 minutes
        location:
          type: string
        reliability_score:
          type: integer
          minimum: 0
          maximum: 100
        cached_models:
          type: array
          items:
            type: string

    JobSubmission:
      type: object
      required:
        - provider_id
        - job_type
        - duration_minutes
      properties:
        provider_id:
          type: integer
        job_type:
          type: string
          enum:
            - llm_inference
            - image_generation
            - vllm_serve
            - custom_container
            - training
            - rendering
            - benchmark
        duration_minutes:
          type: integer
          minimum: 1
        params:
          type: object
          description: Job-type-specific parameters
        priority:
          type: integer
          enum: [1, 2, 3]
          default: 2
          description: 1=high, 2=normal, 3=low
        gpu_requirements:
          type: object
          properties:
            min_vram_gb:
              type: integer
        max_duration_seconds:
          type: integer
          maximum: 3600

    JobStatus:
      type: object
      properties:
        job_id:
          type: string
        status:
          type: string
          enum: [queued, running, completed, failed, cancelled]
        submitted_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        provider_id:
          type: integer
        actual_cost_sar:
          type: number
        actual_cost_halala:
          type: integer
        progress_percent:
          type: integer
          minimum: 0
          maximum: 100
        error_message:
          type: string

    JobSummary:
      type: object
      properties:
        id:
          type: integer
        job_id:
          type: string
        job_type:
          type: string
        status:
          type: string
        submitted_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        actual_cost_halala:
          type: integer

    QueuedJob:
      type: object
      properties:
        job_id:
          type: string
        type:
          type: string
        status:
          type: string
        submitted_at:
          type: string
          format: date-time

  securitySchemes:
    RenterKey:
      type: apiKey
      in: header
      name: x-renter-key
    RenterKeyQuery:
      type: apiKey
      in: query
      name: key
    ProviderKey:
      type: apiKey
      in: header
      name: x-provider-key
    AdminToken:
      type: apiKey
      in: header
      name: x-admin-token
